<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://172.16.10.202/nhom1</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>

        <mapping class="com.gem.nhom1.model.entities.Dealer"></mapping>
        <mapping class="com.gem.nhom1.model.entities.Bill"></mapping>
        <mapping class="com.gem.nhom1.model.entities.BillDetail"></mapping>
        <mapping class="com.gem.nhom1.model.entities.Customer"></mapping>
        <mapping class="com.gem.nhom1.model.entities.Inventory"></mapping>
        <mapping class="com.gem.nhom1.model.entities.InventoryUnit"></mapping>

        <mapping class="com.gem.nhom1.model.entities.Staff"></mapping>
        <mapping class="com.gem.nhom1.model.entities.Promotion"></mapping>
        <mapping class="com.gem.nhom1.model.entities.Unit"></mapping>
        <mapping class="com.gem.nhom1.model.entities.UnitDealer"></mapping>




    </session-factory>
</hibernate-configuration>